body {
    margin: 0px;
    padding: 0px;
    background: #e0e0e0;
}

.loginform {
    width: 30%;
    height: auto;
    margin: 7% auto;
    padding: 25px 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
}

/* Media Queries */

@media screen and (max-width:1200px) {
    .loginform {
        width: 40%;
        margin: 10% auto;
    }
}

@media screen and (max-width:796px) {
    .loginform {
        width: 70%;
        margin: 20% auto;
    }
}

@media screen and (max-width:600px) {
    .loginform {
        width: 90%;
        margin: 35% auto;
    }
}